<div class="page">
	<section class="page-section">
		<header class="page-section-header">
			<h2>About ClassicalTweets</h2>
		</header>
		<div class="page-content">
			<p>ClassicalTweets is a twitter stream for classical music lovers, created with Ruby on Rails. I'll be adding more features so be sure to check back for updates. This is my first Rails project, so I'd love to hear your suggestions via 
			<%= mail_to "sararob@brandeis.edu", "email" %> or 
			<%= link_to 'twitter', 'https://twitter.com/intent/tweet?screen_name=SRobTweets' %>.
			</p>
		</div>
	</section>
</div>
