<a name="top"></a>
<div class="navbar navbar-fluid-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="/">ClassicalTweets</a>
		<div class="container-fluid nav-collapse">
			<ul class="nav">
				<li><%= link_to "About", about_path %></li>
			</ul>
			<ul class="nav pull-right">
				<li><div class="tweet-btn"><a href="https://twitter.com/intent/tweet?button_hashtag=ClassicalTweets&text=I'm%20reading%20ClassicalTweets%2C%20a%20twitter%20stream%20for%20classical%20music%20lovers!" class="twitter-hashtag-button" data-related="SRobTweets" data-url="http://hackertweets.herokuapp.com/">Tweet #ClassicalTweets</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div></li>
			</ul>
		</div>
	</div>
</div>
</div>